<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @scarf.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scarf.description %>
</p>

<p>
  <strong>Club:</strong>
  <%= @scarf.club_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @scarf.user_id %>
</p>

<%= link_to 'Edit', edit_scarf_path(@scarf) %> |
<%= link_to 'Back', scarves_path %>
