<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	  <%= csrf_meta_tags %>
	  
	</head>
	<body>
		<div class="container box first"> 
		<%= flash[:notice] %>
			<div class="aboutlinks">
				<ul>
			  		<li><%= link_to 'Home', root_path %></li>
			  		<% if user_signed_in? %>
			  		  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
			  		  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
			  		<% else %>
			  		  <li><%= link_to 'Sign in', new_user_session_path %></li>
			  		  <li><%= link_to 'Sign up', new_user_registration_path %></li>
			  		<% end %>
			  		<li><a href="pages/about.html">About</a></li>
			    	<li><a href="mailto:adam@scarf.ly">Contact</a></li>
			  	</ul>
			 </div>		 
			 <%= yield %>
		</div>
	</body>
</html>



